.content {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

.toolbar {
    -fx-background-color: rgba(0, 184, 212, 0.5);
    -fx-pref-height: 48px;
}
#btnClose:hover {
    -fx-effect: dropshadow(gaussian, #fff, 10, 1.0, 100, 100);
}